<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h1> Rest Apies</h1>
   <%  for(let i of comments){%>
    <div id="parent">  
    <h3>       <%=i.id %>   </h3>
    <p>  <%=i.username %></p>
    <h5> <%= i.comment %></h5>
    <a href="/blog/<%=i.id %>"> show</a>
    <a href="/blog/<%=i.id %>/edit"> edit</a>
    <form action="/blog/<%=i.id %>/?_method=DELETE"  method="POST" >
      <button type="submit"> delet</button>
    </form>
  </div
 <% }%>
</body>
</html>